$base: #ffffff;
$navbar: #cccccc;
body {
  background-color: $base;
  margin: 0px;
  padding: 0px;
}
  h1 {
    text-align: center;
    color: darkblue;
    font-size: 44px;
  }
h2 {
  text-decoration: underline;
  text-align: center;
  color: darkblue;
}
.nav {
  list-style: none;
  ul {
    background-color: $navbar;
    text-align: left;
    list-style: none;
  }
  li {
    font-size: 1.2em;
    line-height: 54px;
    display: inline-block;
  }
  a:hover {
   background-color: orange;
   color: white;
  }
  a.active {
    background-color: black;
    color: #444;
    cursor: default;
  }
}
.key {
  padding-left: 16px;
}
.opening {
  padding-left: 16px;
}
.nav {
  a {
    text-decoration: none;
   color: darkblue;
   display: block;
   transition: .5s background-color;
  }
}
.filler1 {
  border-style: solid;
  border-width: thin;
  float: right;
}
.box {
  background-color: $navbar;
  width: 600px;
  padding: 16px;
  border-style: groove;
  border-color: darkblue;
  float: left;
  p {
    line-height: 23px;
  }
}
.box2 {
  background-color: $navbar;
  width: 600px;
  padding: 16px;
  border-style: groove;
  border-color: darkblue;
  float: right;
  p {
    line-height: 23px;
  }
}
.titles {
  height: 200px;
  width: 200px;
  padding: 200px;
}
